<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>

	<appSettings>
		<add key="SendGridApiKey" value="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"/>
	</appSettings>
	
</configuration>